@media screen and (min-width:800px){
  #about{
    position: absolute;
    top:0;
    margin-top: 30pt;
    width: 60%;
  }
  #about h3{
    visibility: hidden;
  }
  #about p{
    color: grey;
  }
  hgroup h2{
    visibility: hidden;
  }
  hgroup{
    margin-left: 10%;
  }
  figure{
    /* position: absolute; */
    float: right;
    margin-right: 10%;
    transform: rotate(-15deg);
  }
  #competencies{
    margin-top:  100px;
  }
  
  #competencies .skills{
    /* float: left; */
    clear: both;
    display: flex;
    flex-direction: row;
    position: absolute;
  
    height:50pt;
    padding-left: 10pt;
    border-left: 2px solid grey;
  }
  #competencies h3{
    clear: both;
    height:50pt;
    /* border-right: 2px solid grey; */
  }
  
  

  
  
  
  .skills-primary{
    margin-top: -90px;
    margin-left: 140px;
  }
  .skills-secondary{
    margin-top: -30px;
    margin-left: 140px;
  }
  .day,.month,.year,.experience-location{
    color: grey;
  }
  #experiences h3{
    clear: both;
    height:50pt;
    /* padding-top: -30px; */
    float: left;
    border-right:2px solid grey;
    padding-right: 65px;
    height: 150px;
    position: absolute;
  }
  .experience h4 span{
    color: rgb(0,128,128);
    float: left;
    margin-top: 20px;
    margin-left: 10px;
  }
  .experience-details{
    float: right;
  }
  .experience p{
    clear: both;
    /* width: 80%; */
    margin-left: 150px;
    /* height: 200px; */
  
  }
  
  #experiences{
    margin-top:  50px;
  }
  h4 span:nth-child(1){
    margin-left: 150px;
  }
  
  
  
  
  
  #education h3{
    margin-top: 50px;
    clear: both;
    border-right:2px solid grey;
    height: 180px;
    padding-right: 47px;
    position: absolute;
    margin-top: 20px;
  }
  #education .experience{
    /* margin-top: 10px; */
  }
  
  
  #hobbies h3{
    margin-top: 50px;
    clear: both;
    border-right:2px solid grey;
    height: 100px;
    padding-right: 64px;
    position: absolute;
    margin-top: -10px;
  }
  #hobbies ul{
    margin-left:140px;
    padding-top: 0px;
    margin-top: 50px;
  }
  .content{
    width:80%;
    margin: auto;
  }
  #contact h3{
    margin-top: 100px;
    display: none;
  }
  .contacts{
    display:flex;
    width: 400px;
    margin-top: 0px;
  }
  .contact-email a{
    content: url(../images/email.png);
    width: 100px;
    margin-left: 100px;
    clear: both;
  }
  .contact-phone a{
    content: url(../images/phone.png);
    width: 100px;
  }
  .contact-github a{
    content: url(../images/github.png);
    width: 100px;
  }
  .contact-facebook a{
    content: url(../images/facebook.png);
    width: 100px;
  }
  .contact-type,.contact-skype{
    /* visibility: hidden; */
    display: none;
  }









  .skills-primary .skill{
    margin-left:20px !important;
    border:1px solid #008080 !important;
    background-color:#008080 !important;
    margin-top:10px !important;
    height:45px !important;
    width:150px !important;
    color:white !important;
    font-size:21px !important;
    margin-top:5px !important;  
}
.skills-secondary .skill{
    margin-left:20px !important;
    border:1px solid #008080 !important;
    background-color:#008080 !important;
    font-size:16px !important;
    height:40px !important;
    width:150px !important;
    color:white !important;
}
.skills span{
  margin-left:2px !important;   
}
[data-skill="5"]:nth-child(1)::after{
  content: "★★★" !important;
  margin-left: 3vw !important;
}
[data-skill="9"]::after{
  content: "★★★★★" !important;
  margin-left:3vw !important;
}
[data-skill="7"]::after{
  content: "★★★★" !important;
  margin-left: 2vw !important;
}
[data-skill="3"]::after{
  content: "★★" !important;
  margin-left:6vw !important;
}
[data-skill="1"]::after{
  content: "★" !important;
  margin-left:3vw !important;
}
[data-skill="5"]:nth-child(2)::after{
  content: "★★★" !important;
  margin-left:6vw !important;
}
.skills-primary{
  display:flex !important;
  flex-direction: row !important;
}
.skills-secondary{
  display:flex !important;
  flex-direction: row !important;
}







}



@media screen and (max-width:800px){
  body{
    width: 450px;
    margin: auto;
  }
  #about{
    position: absolute;
    top:0;
    margin-top: 50pt;
    width: 450px;
  }
  #about h3{
    visibility: hidden;
  }
  #about p{
    color: grey;
  }
  hgroup h2{
    visibility: hidden;
  }
  hgroup h1{
    border-bottom: 2px solid grey;
  }
  figure{
    visibility: hidden;
    /* position: absolute; */
    float: right;
    transform: rotate(-15deg);
  }
  #competencies{
    margin-top:  250px;
  }
  
  #competencies .skills{
    /* float: left; */
    clear: both;
    display: flex;
    flex-direction: row;
    position: absolute;
  
    height:50pt;
    padding-left: 10pt;
    /* border-bottom: 2px solid grey; */
  }
  #competencies h3{
    clear: both;
    /* height:50pt; */
    width: 150px;
    border-bottom: 2px solid grey;
  }
  
  .skills-primary{
    margin-top: -10px;
    margin-left: -30px;
  }
  .skills-secondary{
    margin-top: 50px;
    margin-left: -30px;
  } 
  .skills-primary .skill{
    margin-left:20px;
    border:1px solid #008080;
    background-color:#008080;
    margin-top:10px;
    height:45px;
    width:155px;
    color:white;
    font-size:24px;
    margin-top:5px;  
}
.skills-secondary .skill{
    margin-left:20px;
    border:1px solid #008080;
    background-color:#008080;
    font-size:16px;
    height:40px;
    width:155px;
    color:white;
}
.skills span{
    margin-left:2px;   
}
[data-skill="5"]:nth-child(1)::after{
    content: "★★★";
    margin-left: 3vw;
}
[data-skill="9"]::after{
    content: "★★★★★";
    margin-left:3vw;
}
[data-skill="7"]::after{
    content: "★★★★";
    margin-left: 2vw;
}
[data-skill="3"]::after{
    content: "★★";
    margin-left:6vw;
}
[data-skill="1"]::after{
    content: "★";
    margin-left:3vw;
}
[data-skill="5"]:nth-child(2)::after{
    content: "★★★";
    margin-left:6vw;
}

.skills-primary{
  display:flex;
  flex-direction: row;
}
.skills-secondary{
  display:flex;
  flex-direction: row;
}




  .day,.month,.year,.experience-location{
    color: grey;
  }
  #experiences h3{
    clear: both;
    /* height:70pt; */
    margin-top: 130px;
    /* padding-top: -30px; */
    /* float: left; */
    border-bottom:2px solid grey;
    /* padding-right: 28px; */
    /* height: 250px; */
    /* position: absolute; */
    width: 150px;
  }
  .experience h4 span{
    color: rgb(0,128,128);
    float: left;
    margin-top: 20px;
    /* margin-left: 10px; */
  }
  .experience-details{
    float: right;
    margin-top: 20px;
  }
  .experience p{
    clear: both;
    /* width: 80%; */
    /* margin-left: 150px; */
    /* height: 200px; */
  
  }
  
  #experiences{
    margin-top:  50px;
  }
  h4 span:nth-child(1){
    /* margin-left: 150px; */
  }
  
  
  
  
  
  #education h3{
    margin-top: 50px;
    clear: both;
    border-bottom:2px solid grey;
    width: 150px;
    /* height: 250px; */
    /* padding-right: 47px; */
    /* position: absolute; */
    margin-top: 20px;
  }
  #education .experience{
    /* margin-top: 10px; */
  }
  
  
  #hobbies h3{
    margin-top: 50px;
    clear: both;
    width: 150px;
    border-bottom:2px solid grey;
    /* height: 150px; */
    /* padding-right: 64px; */
    /* position: absolute; */
    margin-top: 20px;
  }
  #hobbies ul{
    /* margin-left:140px; */
    /* padding-top: 40px; */
    margin-top: 30px;
  }
  
  
  #contact h3{
    margin-top: 100px;
    display: none;
  }
  .contacts{
    /* display:flex; */
    width: 200px;
    margin-top: 0px;
    /* margin-left: -100px; */
    justify-content: flex-end;
    margin-left: 80px;
    
  }
  .contact-email a{
    content: url(../images/email.png);
    width: 50px;
    clear: both;
    /* margin-left: -40%; */
    margin-left: -100px;
    position: absolute;
  }
  .contact-phone a{
    content: url(../images/phone.png);
    width: 50px;
    /* margin-top: -300px; */
    position: absolute;
  }
  .contact-github a{
    content: url(../images/github.png);
    width: 50px;
    position: absolute;
    /* margin-bottom: 100px; */
    width: 50px;
    margin-left: 100px;
  }
  .contact-facebook a{
    content: url(../images/facebook.png);
    width: 50px;
    margin-left: -100px;
    margin-top: 100px;
    position: absolute;
    /* margin-top: 150px; */
    /* margin-left: -10%; */
    /* left: 100px; */

  }
  .contact-type,.contact-skype{
    /* visibility: hidden; */
    display: none;
  }
}






